body {
    background: cornsilk;
    background-image: url('./hellokitty.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.redButton {
    background: red;
}
